body {
    background-color: rgb(31, 22, 31);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: rgb(200, 145, 200);
}

.container {
    display: grid;
    grid-template-areas: 
        "middle right"
        "bottom bottom";
    grid-template-rows: 1fr auto;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.middle-content {
    grid-area: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.small-header {
    font-weight: bold;
    font-size: 20px;
    color: rgb(151, 102, 151);
    margin-bottom: 10px;
}

.small-text {
    font-size: 14px;
    color: rgb(151, 102, 151);
}

.main-paragraph {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 180px;
    font-size: 16px;
    color: rgb(246, 221, 246);
}

.right-buttons {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
    gap: 40px;
    background-color: rgb(68, 40, 68);
}

.nav-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 22, 31);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 8px;
}

.nav-button:hover {
    background-color: rgb(142, 90, 142);
}

.bottom-navigation {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.next-button {
    padding: 10px 20px;
    background-color: rgb(142, 90, 142);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.next-button:hover {
    background-color: rgb(68, 40, 68);
}
